<!-- NEEDED FOR THE NAVBAR AND FOOTER BRANDING -->
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap" rel="stylesheet">
</head>

<footer class="bm-py-5 bm-bg-footer">
  <div class="bm-container bm-footer-container">
    <!-- Bookmarks logo at the start of the footer, Copyright text at the end of the footer-->
    <a class="bm-d-flex bm-align-items-start" href="/">
      <img class="bm-footer-logo" src="assets/logoDark.svg" alt="Bookmarks"/>
    </a>

    <p class="bm-text-footer">Copyright &copy; Bookmarks 2024</p>
  </div>
</footer>
