<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <title>Bookmarks - Inicio</title>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/8f3c0a721b.js" crossorigin="anonymous"></script>

  <!-- Chart.js script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.js"></script>

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- ----------------------------------------------------------------- -->
</head>
<body>

<header class="bg-branding-white py-1">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-start text-dark">

      <h1 class="display-4 fw-bolder header-welcome-text landing-hero">
        <p>Bienvenido a Bookmarks</p>
        <p *ngIf="heroNameVisible">,&nbsp;{{ loggedUsername }}</p>
      </h1>

      <p class="lead fw-normal text-white-50 mb-0">"Nuestras vidas se definen por las oportunidades,
        incluso las
        que perdemos"<br>- F. Scott Fitzgerald
      <p *ngIf="isAdmin">Has iniciado sesión como administrador</p>
    </div>
  </div>
</header>

<!-- Page content-->
<div class="container">
  <div class="row">
    <!-- Blog entries-->
    <div class="col-lg-8">
      <!-- Featured book (THE FEATURED BOOK SHOULD BE STATIC AND ALWAYS APPEARS ON THE LANDING PAGE -->
      <h3 class="fw-semibold mb-4">
        <p *ngIf="loggedIn; else notLoggedRecommendedAuthor">Más de tu autor más leído</p>
        <ng-template #notLoggedRecommendedAuthor>
          <p>Del autor más leído</p>
        </ng-template>
      </h3>
      <!-- Featured book-->
      <div class="card mb-4 featured-book" *ngFor="let book of recommendedBooksAuthor">
        <div class="img-container-featured">
          <img class="card-img-top" [src]="bookImage(book.ID)" alt="bookImageURL goes here">
        </div>
        <div class="card-body">
          <!-- The ngFor is to iterate over the recommended books of the author (so if the list is empty, it won't give any errors, since it takes a bit for the REST API to respond to the request) -->
          <div class="small text-muted">{{ book.releaseDate }}</div>
          <h2 class="card-title">{{ book.title }}</h2>
          <p class="card-text">{{ book.authorString }}</p>
          <p class="card-text">{{ book.description }}</p>
          <a class="btn btn-primary" href="book/bookID">Leer más</a>
        </div>
      </div>

      <!-- Nested row for non-featured blog posts. THESE POSTS MUST BE DYNAMICALLY LOADED (AJAX + SPRINGBOOT ,using templates) -->
      <hr class="my-0"/>
      <h3 class="fw-semibold mb-4 mt-4">
        <p *ngIf="loggedIn; else notLoggedRecommendedGenre">Basado en tus géneros más leídos</p>
        <ng-template #notLoggedRecommendedGenre>
          <p>Basado en los géneros más leídos</p>
        </ng-template>
      </h3>
      <div class="row" id="post-container">
        <div class="col-lg-6" id="left-post-column">
          <!-- Blog post LEFT SIDE -->
          <div class="card mb-4 blog-post" *ngFor="let genreLeftBook of recommendedBooksGenreLeft">
            <div class="img-container">
              <!-- Image goes here -->
              <a href="#"><img class="card-img-top"
                               [src]="bookImage(genreLeftBook.ID)" alt="..."/></a>
            </div>
            <div class="card-body">
              <!-- Text and buttons go here -->
              <div class="small text-muted">{{ genreLeftBook.releaseDate }}</div>
              <h2 class="card-title h4">{{ genreLeftBook.title }}</h2>
              <p class="card-text">{{ genreLeftBook.authorString }}</p>
              <p class="card-text">Género: {{ genreLeftBook.genre?.name }}</p>
              <a class="btn btn-primary" [routerLink]="['book', genreLeftBook.ID]">Leer más</a>
            </div>
          </div>

        </div>

        <div class="col-lg-6" id="right-post-column">
          <!-- Blog post RIGHT SIDE -->
          <div class="card mb-4 blog-post" *ngFor="let genreRightBook of recommendedBooksGenreRight">
            <div class="img-container">
              <!-- Image goes here -->
              <a href="#!"><img class="card-img-top"
                                [src]="bookImage(genreRightBook.ID)" alt="..."/></a>

            </div>
            <div class="card-body">
              <!-- Text and buttons go here -->
              <div class="small text-muted">{{ genreRightBook.releaseDate }}</div>
              <h2 class="card-title h4">{{ genreRightBook.title }}</h2>
              <p class="card-text">{{ genreRightBook.authorString }}</p>
              <p class="card-text">Género: {{ genreRightBook.genre?.name }}</p>
              <a class="btn btn-primary" [routerLink]="['book', genreRightBook.ID]">Leer más</a>
            </div>
          </div>

        </div>
      </div>

      <!-- LOAD MORE BBUTTON -->
      <nav aria-label="Pagination">
        <hr class="my-0"/>
        <ul class="pagination justify-content-center my-4 load-more-container">
          <button class="btn btn-secondary" id="load-more-btn" (click)="loadMoreBooks()"
                  *ngIf="!noMoreBooks; else noMoreBooksMessage">
            <label id="load-more-label" *ngIf="!loadingMoreBooks; else loadingMoreBooksSpinner">Cargar más</label>

            <ng-template #loadingMoreBooksSpinner>
              <div id="load-more-spinner" class="loader-in-btn" role="status">
              </div>
            </ng-template>

          </button>
          <ng-template
            #noMoreBooksMessage>
            <p class="text-muted
            no-more-books-message">No hay más libros para mostrar</p>
          </ng-template>
        </ul>
      </nav>
    </div>


    <!-- Side widgets-->
    <div class="col-lg-4">
      <h3 class="fw-semibold mb-4">Explora más</h3>
      <!-- Users widget-->
      <div class="card mb-4">
        <ng-container *ngIf="!loggedIn; else loggedUserActionsPanel">
          <div class="card-header">Acceso usuarios</div>
          <div class="card-body">
            <p>Encuentra nuevos libros, guarda los tuyos, ¡únete a Bookmarks!</p>
            <div class="input-group">
              <a [routerLink]="['/login']">
                <button class="btn btn-primary" class="btn btn-primary" type="button">Iniciar sesión</button>
              </a>
              <a [routerLink]="['/signup']">
                <button class="btn btn-primary" class="btn btn-primary" type="button">Crear cuenta</button>
              </a>
            </div>
          </div>
        </ng-container>


        <!-- User profile widget -->
        <ng-template #loggedUserActionsPanel>
          <div class="card-header">Acceso rápido a tu perfil</div>
          <div class="card-body profile-card" *ngIf="userLoaded">
            <img class="profile-picture bm-rounded-circle" [src]="profilePicture(loggedUsername)" alt="Foto de perfil"/>
            <p class="mt-2">{{ loggedUsername }}</p>
            <div class="input-group">
              <a [routerLink]="['profile', loggedUsername]">
                <button class="btn btn-primary" type="button">Ver perfil</button>
              </a>

            </div>
          </div>
        </ng-template>
      </div>

      <!-- Categories widget-->
      <div class="card mb-4">
        <div class="card-header">Top 5 géneros más populares</div>
        <div class="card-body">
          <div id="mostReadGenresChartContainer">
            <canvas id="mostReadGenresChart">{{ chart }}</canvas>
            <div id="mostReadGenresSpinner" class="loader-green" role="status" *ngIf="loadingChart">
            </div>
          </div>

        </div>
      </div>
      <!-- Side widget-->
      <div class="card mb-4">
        <div class="card-header">Más sobre Bookmarks</div>
        <div class="card-body">
          <div class="row">
            <ul class="list-styled mb-0 stats-list">
              <li>
                <div class="stats-list-item">
                  <h6 class="fw-normal">Libros totales: </h6>
                  <h6 class="fw-bold stats-number">
                    {{ totalSiteBooks }}
                  </h6>
                </div>
              </li>
              <li>
                <div class="stats-list-item">
                  <h6 class="fw-normal">Géneros totales: </h6>
                  <h6 class="fw-bold stats-number">
                    {{ totalSiteGenres }}
                  </h6>
                </div>
              </li>
              <li>
                <div class="stats-list-item">
                  <h6 class="fw-normal">Autores totales: </h6>
                  <h6 class="fw-bold stats-number">
                    {{ totalSiteAuthors }}
                  </h6>
                </div>
              </li>
              <li>
                <div class="stats-list-item">
                  <h6 class="fw-normal">Usuarios totales: </h6>
                  <h6 class="fw-bold stats-number">
                    {{ totalSiteUsers }}
                  </h6>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
