<!doctype html>
<html lang="en">

<head>
  <title>Bookmarks - Iniciar sesión</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <!-- NEEDED FOR THE NAVBAR AND FOOTER BRANDING -->
  <link href="/css/navbarAndBranding.css" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap" rel="stylesheet">
  <!-- ----------------------------------------------------------------- -->

</head>

<body class="img js-fullheight">
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <img src="./assets/imagotipoLight.svg" alt="Logo">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <h3 class="mb-4 text-center login-greeting-text">¿Tienes una cuenta?</h3>
          <form action="/login" method="post" class="signin-form">
            <div class="form-group">
              <input type="text" name="username" class="form-control" placeholder="Nombre de usuario" required>
            </div>
            <div class="form-group">
              <input id="password-field" type="password" name="password" class="form-control" placeholder="Contraseña"
                     required>
              <span toggle="#password-field"
                    class="fa fa-fw fa-eye field-icon toggle-password"></span>
            </div>
            <div class="form-group">
              <a>
                <!-- change to type="submit" when backend is ready -->
                <input type="submit" value="Iniciar sesión"
                       class="form-control btn btn-primary submit px-3 pill-button" />
              </a>
            </div>
            <!-- <div class="form-group d-md-flex">
                <div class="w-50">
                    <label class="checkbox-wrap checkbox-primary">Remember Me
                        <input type="checkbox" checked>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="w-50 text-md-right">
                    <a href="#" style="color: #fff">Forgot Password</a>
                </div>
            </div> -->
            <input type="hidden" name="_csrf" value=""/> <!-- TODO: Add CSRF token -->
          </form>
          <div class="form-group">
            <a href="/signup">
              <button type="button"
                      class="form-control btn btn-secondary submit px-3 pill-button">Registrarse
              </button>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script src="/js/jquery.min.js"></script>
<script src="/js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
