HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/backend/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/backend/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
backend/src/main/resources/env.properties
backend/src/main/java/es/codeurjc/webapp03/controller/APIBookController.java
