:root {
  /* BOOKMARKS BRANDING COLORS */
  --branding-grey: #808F85;
  --branding-brown: #583E23;
  --branding-orange: #F9A03F;
  --branding-peach: #F8DDA4;
  --branding-green: #519E8A;
  --branding-dark-green: #3c7969;
  --branding-light-green: #9be6d2;
  --branding-white: #FFFFFC;
  --branding-light-grey: #efefef;
  --branding-sepia: #F8F4E8;
  /* -------- */
}

body {
  margin-top: 20px;
  background-color: #f2f6fc;
  color: #69707a;
}

.img-account-profile {
  height: 10rem;
  width: 10rem;
}

.rounded-circle {
  border-radius: 50% !important;
  object-fit: cover;
}

.card {
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
  border-radius: 12px !important;
}

.card .card-header {
  font-weight: 500;
}

.card-header:first-child {
  border-radius: 12px 12px 0 0;
}

.card-header {
  padding: 1rem 1.35rem;
  margin-bottom: 0;
  background-color: rgba(33, 40, 50, 0.03);
  border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.form-control,
.dataTable-input {
  display: block;
  width: 100%;
  padding: 0.875rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #69707a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5ccd6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
  color: #0061f2;
  border-bottom-color: #0061f2;
}

.nav-borders .nav-link {
  color: #69707a;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.card-header {
  padding: 1rem 1.35rem;
  margin-bottom: 0;
  background-color: rgba(107, 83, 38, 0.048);
  border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.card-body {
  background-color: var(--branding-white);
  border-radius: 0 0 12px 12px;
}

.btn-primary {
  color: #fff;
  background-color: var(--branding-green);
  border-color: var(--branding-green);
  border-radius: 7px;
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--branding-dark-green);
  border-color: var(--branding-dark-green);
}

.btn-primary:focus {
  color: #fff;
  background-color: var(--branding-dark-green);
  border-color: var(--branding-dark-green);
}

.btn-primary:active {
  color: #fff;
  background-color: var(--branding-dark-green);
  border-color: var(--branding-dark-green);
}

.btn-primary:active:focus {
  color: #fff;
  background-color: var(--branding-dark-green);
  border-color: var(--branding-dark-green);
}

.btn-primary:active:hover {
  color: #fff;
  background-color: var(--branding-dark-green);
  border-color: var(--branding-dark-green);
}

.description-text-area { /* fixed size for the description form */
  height: 100px;
  overflow-y: auto;
  resize: none;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

.bg-branding-white {
  background-color: var(--branding-white);
}

.change-password-button { /* has to stick to the bottom of its container */
  bottom: 0;
  right: 0;
  height: 37.6px;
  margin-bottom: 0.3rem;
}

.new-password-flex{ /*stick all items it has inside, to its end */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
