<!-- Header-->
<header class="bg-branding-white py-1">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-start text-dark">
      <h1 class="display-4 fw-bolder id=query">{{ searchQuery }}</h1>
      <p class="lead fw-normal text-black-50 mb-0">Resultados de búsqueda</p>
    </div>
  </div>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/8f3c0a721b.js" crossorigin="anonymous"></script>

  <!-- ----------------------------------------------------------------- -->

</header>
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div *ngIf="userSearch; else elseBlock"
         class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="users">
      <span *ngFor="let user of userQueries">
      <!-- User card-->
      <div class="col mb-5 user">
        <div class="card h-100">
          <!-- User image-->
          <img class="card-img-top" [src]="userImage(user.username)" alt="..." style="height: 15rem"/>
          <!-- User details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Username-->
              <h5 class="fw-bolder" id="user-text">{{ user.username }}</h5>
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" (click)="showUser(user.username)">Ver perfil</a></div>
          </div>
        </div>
      </div> <!-- End of book card-->
      </span>
    </div>
    <ng-template #elseBlock>
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="books">
        <span *ngFor="let book of bookQueries">
        <!-- Book card-->
        <div class="col mb-5 book" id="book{{book.ID}}">
          <div class="card h-100">
            <!-- Book cover image-->
            <img class="card-img-top" [src]="bookImage(book.ID)" alt="..."/>
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Book name-->
                <h5 class="fw-bolder" id="book-title">{{ book.title }}</h5>
                <!-- Book Author-->
                <h6 class="fw-normal" id="book-author">{{ book.authorString }}</h6>
                <!-- Product reviews-->
                <div class="d-flex justify-content-center small text-warning mb-2 stars">
                  <div class=""></div>
                  <div class=""></div>
                  <div class=""></div>
                  <div class=""></div>
                  <div class=""></div>
                </div>
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><a class="btn btn-outline-dark mt-auto" (click)="showBook(book.ID)">Ver
                libro</a>
              </div>
            </div>
          </div>
        </div> <!-- End of book card-->
        </span>
        <!--{{#ratings}}
        <div style="display:none" class="rating">{{.}}</div>
        {{/ratings}}-->
      </div>
    </ng-template>
  </div>
  <div id="loadMoreDiv">
    <div id="load-more-spinner" class="loader" role="status"></div>
    <div id="noResults" style="display:none">No hay ningún resultado que coincida con su búsqueda.</div>
    <a id="loadMoreBut" (click)="loadMoreBooks()" class="btn btn-secondary flex-shrink-0 action-button">
      <i class="fa-solid fa-arrows-rotate" style="margin-right: 10px;" aria-hidden="true"></i>
      Cargar más
    </a>
  </div>
</section>
