<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Bookmarks - Editar perfil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/editProfilePageStyles.css" rel="stylesheet">
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
    <!-- NEEDED FOR THE NAVBAR AND FOOTER BRANDING -->
    <link href="/css/navbarAndBranding.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8f3c0a721b.js" crossorigin="anonymous"></script>
    <!-- ----------------------------------------------------------------- -->

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>

<body>

<!-- Navigation (this is the navbar)-->
<nav class="bm-navbar bm-navbar-expand-lg bm-navbar-light bm-bg-white">
    <div class="bm-container bm-navbar-px-4 bm-navbar-px-lg-5">
        <!-- Navbar brand (is an image) and has alternative text for when the image does not load-->
        <a class="bm-navbar-brand" href="/">
            <img src="/assets/imagotipo.svg" alt="Bookmarks"/>
        </a>
        <button class="bm-navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="bm-navbar-toggler-icon"></span></button>
        <div class="bm-collapse bm-navbar-collapse bm-navbar-menu" id="navbarSupportedContent">
            <!-- Has to be centered -->
            <ul class="bm-navbar-nav bm-me-auto bm-mb-lg-0 bm-ms-auto">
                <!-- Main page option (has little house icon on the left)-->
                <li class="bm-nav-item"><a class="bm-nav-link" href="/">
                    <i class="bi-house-door-fill"></i>
                    Inicio
                </a>
                </li>

                <!-- Forum option-->
                <li class="bm-nav-item"><a class="bm-nav-link" href="forumPage.html">
                    <i class="bi-chat-left-text-fill"></i>
                    Foro
                </a>
                </li>

                <!-- Administrator menu option -->
                <li class="bm-nav-item"><a class="bm-nav-link" href="/admin">
                    <i class="bi-gear-fill"></i>
                    Administrador
                </a>
                </li>
                <!-- Search widget-->
                <li class="bm-nav-item">
                    <form class="bm-d-flex position-relative" onsubmit="return false;">
                        <input id="search-bar" class="form-control search-bar" type="search" placeholder="Buscar"
                               aria-label="Search">
                        <a id="magnifier-icon-link">
                            <i id="magnifier-icon"
                               class="fa-solid fa-magnifying-glass position-absolute top-50 end-0 translate-middle-y me-2"></i>
                        </a>
                        <input type="hidden" name="_csrf" value="{{token}}"/>
                    </form>
                </li>

            </ul>
            <form class="bm-d-flex" action="/logout" method="post">
                <ul class="bm-navbar-nav bm-me-auto bm-mb-lg-0 bm-ms-lg-4">
                    <!-- Profile dropdown -->
                    <li class="bm-nav-item dropdown">
                        <a class="bm-nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="bm-navbar-profile-picture bm-rounded-circle"
                                 src="data:image/png;base64, {{profileImageString}}" alt="Perfil"/>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/profile/{{username}}">Mi perfil</a></li>
                            <li>
                                <hr class="dropdown-divider"/>
                            </li>
                            <li><input type="submit" value="Cerrar sesión" class="btn"/></li>
                        </ul>
                    </li>
                </ul>
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>
        </div>
    </div>
</nav>
<!-- Navbar ENDS HERE -->

<header class="bg-branding-white py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-start text-dark">
            <h1 class="display-4 fw-bolder">{{username}}</h1>
            <p class="lead fw-normal text-black-50 mb-0">Ajustes del perfil</p>

        </div>
    </div>
</header>

<div class="container-xl px-4 mt-5 mb-5 main-container">
    <div class="row">
        <div class="col-xl-4">

            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Foto de perfil</div>
                <div class="card-body text-center">
                    <!-- Profile picture -->
                    <img class="img-account-profile rounded-circle mb-2"
                         src="data:image/png;base64, {{profileImageString}}" alt>

                    <div class="small font-italic text-muted mb-4">JPG o PNG de no más de 5 MB</div>
                    <input type="file" id="inputProfileImage" accept=",.jpg,.jpeg,.png" style="display: none">
                    <button class="btn btn-primary" type="button" id="uploadImage">Subir imagen</button>
                    <div id="uploadSuccessful" style="display: none; background-color: darkgreen; color: white; text-align: center; width: 100%; height: 20px; vertical-align: center; border-radius: 10px; margin-top: 7px">La imagen se actualizó correcamente.</div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">

            <div class="card mb-4">
                <div class="card-header">Detalles de tu cuenta</div>
                <div class="card-body">
                    <form>
                        <div style="margin-bottom: 7px">
                            <button class="btn btn-secondary-light" id="returnBut" type="button" style="border: 1px solid dimgrey">
                                <i class="fa-solid fa-arrow-left" aria-hidden="true"></i>
                                Volver
                            </button>
                        </div>

                        <div class="row gx-3 mb-3">

                            <div class="col-md-6">
                                <label class="small mb-1" for="inputAlias">Alias</label>
                                <input class="form-control" id="inputAlias" type="text"
                                       placeholder="Escribe tu nombre de usuario" value="{{alias}}">
                            </div>

                            <div class="col-md-6">
                                <label class="small mb-1" for="inputEmailAddress">Correo electrónico</label>
                                <input class="form-control" id="inputEmailAddress" type="email"
                                       placeholder="Escribe tu dirección de correo electrónico"
                                       value="{{email}}">
                            </div>
                        </div>

                        <div class="mb-3 description-form">
                            <label class="small mb-1" for="inputProfileDescription">Descripción</label>
                            <textarea class="form-control description-text-area" id="inputProfileDescription"
                                      rows="4" cols="50"
                                      placeholder="Escribe una descripción para tu perfil">{{description}}</textarea>
                        </div>

                        <div class="row gx-3 mb-3">

                            <div style="display: flex; justify-content: space-between;" class="new-password-flex">
                                <div style="flex: 1; margin-right: 10px;" class="col-md-6">
                                    <label class="small mb-1" for="inputOldPassword">Contraseña actual</label>
                                    <input class="form-control" id="inputOldPassword" type="password"
                                           placeholder="Escribe tu contraseña actual" value="">
                                </div>
                            </div>
                        </div>

                        <div class="row gx-3 mb-3">

                            <div style="display: flex; justify-content: space-between;" class="new-password-flex">
                                <div style="flex: 1; margin-right: 10px;" class="col-md-6">
                                    <label class="small mb-1" for="inputPassword">Nueva contraseña</label>
                                    <input class="form-control" id="inputPassword" type="password"
                                           placeholder="Escribe tu contraseña nueva" value="">
                                </div>
                                <div style="flex: 1; margin-right: 10px;" class="col-md-6">
                                    <label class="small mb-1" for="inputConfirmPassword">Confirma tu
                                        contraseña</label>
                                    <input class="form-control" id="inputConfirmPassword" type="password"
                                           placeholder="Escribe tu contraseña de nuevo" value="">
                                </div>
                                <button class="btn btn-primary change-password-button" type="button">Cambiar
                                    contraseña
                                </button>
                            </div>
                            <a id="passwordsNotMatching" style="color:darkred">Las contraseñas no coinciden</a>
                            <a id="passwordRequirements" style="color:darkred">La contraseña debe incluir al menos 8 caracteres y un número</a>
                            <a id="passwordChanged" style="color:darkgreen">Se actualizó la contraseña correctamente</a>
                            <a id="confirmPasswordChange" style="color:darkred">Por favor, confirme su cambio de contraseña antes de continuar</a>
                        </div>

                        <button class="btn btn-primary" id="saveChangesBut" type="button">Guardar</button>
                        <input type="hidden" name="_csrf" value="{{token}}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer STARTS HERE (the footer goes right before the end of the BODY, before the scripts are declared, if there are any)-->
<footer class="bm-py-5 bm-bg-footer">
    <div class="bm-container bm-footer-container">
        <!-- Bookmarks logo at the start of the footer, Copyright text at the end of the footer-->
        <a class="bm-d-flex bm-align-items-start" href="/">
            <img class="bm-footer-logo" src="/assets/logoDark.svg" alt="Bookmarks"/>
        </a>

        <p class="bm-text-footer">Copyright &copy; Bookmarks 2024</p>
    </div>
</footer>
<!-- Footer ENDS HERE -->

<!-- SearchBar script -->
<script src="/js/searchBar.js"></script>

<!-- CORE BOOTSTRAP JS (THIS GOES RIGHT AFTER THE FOOTER, IT HAS THE NAVBAR DROPDOWN TOGGLE FUNCTIONALITY)-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- ----------------------------------------------------------------- -->
<script src="/js/searchBar.js"></script>
<script src="/js/editProfilePage.js"></script>
<script type="text/javascript">

</script>
</body>

</html>