{{#post}}
<div class="card mb-4 blog-post">
    <div class="img-container">
        <!-- Image goes here -->
        <a href="#!"><img class="card-img-top"
                          src="{{image}}"
                          alt="..."/></a>
    </div>
    <div class="card-body">
        <!-- Text and buttons go here -->
        <div class="small text-muted">{{releaseDate}}</div>
        <h2 class="card-title h4">{{title}}</h2>
        <p class="card-text">{{authorString}}</p>
        <p class="card-text">Género: {{genre}}</p>
        <a class="btn btn-primary" href="book/{{ID}}">Leer m&aacutes</a>
    </div>
</div>
{{/post}}