<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="/css/modifyBookPageStyles.css" rel="stylesheet">

    <title>Bookmarks - Inicio</title>

    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css\landingPageStyles.css" rel="stylesheet"/>

    <link href="/css/animations.css" rel="stylesheet"/>

    <!-- NEEDED FOR THE NAVBAR AND FOOTER BRANDING -->
    <link href="/css/navbarAndBranding.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8f3c0a721b.js" crossorigin="anonymous"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- ----------------------------------------------------------------- -->
</head>
<body>
<!-- Navigation (this is the navbar)-->
<nav class="bm-navbar bm-navbar-expand-lg bm-navbar-light bm-bg-white">
    <div class="bm-container bm-navbar-px-4 bm-navbar-px-lg-5">
        <!-- Navbar brand (is an image) and has alternative text for when the image does not load-->
        <a class="bm-navbar-brand" href="/">
            <img src="assets/imagotipo.svg" alt="Bookmarks"/>
        </a>
        <button class="bm-navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="bm-navbar-toggler-icon"></span></button>
        <div class="bm-collapse bm-navbar-collapse bm-navbar-menu" id="navbarSupportedContent">
            <!-- Has to be centered -->
            <ul class="bm-navbar-nav bm-me-auto bm-mb-lg-0 bm-ms-auto">
                <!-- Main page option (has little house icon on the left)-->
                <li class="bm-nav-item"><a class="bm-nav-link" href="/">
                    <i class="bi-house-door-fill"></i>
                    Inicio
                </a>
                </li>

                <!-- Forum option-->
                <li class="bm-nav-item"><a class="bm-nav-link" href="forumPage.html">
                    <i class="bi-chat-left-text-fill"></i>
                    Foro
                </a>
                </li>

                <!-- Administrator menu option -->
                {{#admin}}
                <li class="bm-nav-item"><a class="bm-nav-link" href="/admin">
                    <i class="bi-gear-fill"></i>
                    Administrador
                </a>
                </li>
                {{/admin}}
                <!-- Search widget-->
                <li class="bm-nav-item">
                    <form class="bm-d-flex position-relative" onSubmit="return false;">
                        <input id="search-bar" class="form-control search-bar" type="search" placeholder="Buscar"
                               aria-label="Search">
                        <a id="magnifier-icon-link">
                            <i id="magnifier-icon"
                               class="fa-solid fa-magnifying-glass position-absolute top-50 end-0 translate-middle-y me-2"></i>
                        </a>
                    </form>
                </li>
            </ul>
            <form class="bm-d-flex">
                <ul class="bm-navbar-nav bm-me-auto bm-mb-lg-0 bm-ms-lg-4">
                    <!-- Profile dropdown -->
                    <li class="bm-nav-item dropdown">
                        <a class="bm-nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="bm-navbar-profile-picture bm-rounded-circle"
                                 src="data:image/png;base64, {{profileImageString}}" alt="Perfil"/>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {{#user}}
                            <li><a class="dropdown-item" href="/profile/{{username}}">Mi perfil</a></li>
                            {{/user}}
                            <li>
                                <hr class="dropdown-divider"/>
                            </li>
                            <li><a class="dropdown-item" href="/login">Iniciar sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</nav>
<!-- Navbar ENDS HERE -->

<header class="bg-branding-white py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-start text-dark">

            <h1 class="display-4 fw-bolder header-welcome-text">
                Bienvenido{{#user}}, {{username}}{{/user}}{{^user}} a Bookmarks{{/user}}
            </h1>
            
            <p class="lead fw-normal text-white-50 mb-0">{{^admin}}"Nuestras vidas se definen por las oportunidades, incluso las
                que perdemos"<br>- F. Scott Fitzgerald{{/admin}}
                {{#admin}}Has iniciado sesión como administrador{{/admin}}
            </p>
        </div>
    </div>
</header>

<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured book (THE FEATURED BOOK SHOULD BE STATIC AND ALWAYS APPEARS ON THE LANDING PAGE -->
            <h3 class="fw-semibold mb-4">{{#user}}Más de tu autor más leído{{/user}}{{^user}}Del autor más leído{{/user}}</h3>
            <!-- Featured book-->
            <div class="card mb-4 featured-book">
                <div class="img-container-featured">
                    <img class="card-img-top" src="data:image/png;base64,{{bookImage}}"
                         alt="Libro"/>
                </div>
                <div class="card-body">
                    <div class="small text-muted">{{bookDate}}</div>
                    <!-- Post date goes here, not book release date -->
                    <h2 class="card-title">{{bookTitle}}</h2>
                    <p class="card-text">{{bookAuthor}}</p>
                    <p class="card-text">{{bookDescription}}</p>
                    <a class="btn btn-primary" href="book/{{bookID}}">Leer más</a>
                </div>
            </div>

            <!-- Nested row for non-featured blog posts. THESE POSTS MUST BE DYNAMICALLY LOADED (AJAX + SPRINGBOOT ,using templates) -->
            <hr class="my-0"/>
            <h3 class="fw-semibold mb-4 mt-4">{{#user}}Basado en tus géneros más leídos{{/user}}{{^user}}Basado en los
                géneros más leídos{{/user}}</h3>
            <div class="row" id="post-container">
                <div class="col-lg-6" id="left-post-column">
                    <!-- Blog post-->
                    {{#postL}}
                    <div class="card mb-4 blog-post">
                        <div class="img-container">
                            <!-- Image goes here -->
                            <a href="#!"><img class="card-img-top"
                                              src="data:image/png;base64,{{imageString}}"
                                              alt="..."/></a>
                        </div>
                        <div class="card-body">
                            <!-- Text and buttons go here -->
                            <div class="small text-muted">{{releaseDate}}</div>
                            <h2 class="card-title h4">{{title}}</h2>
                            <p class="card-text">{{authorString}}</p>
                            <p class="card-text">Género: {{genre}}</p>
                            <a class="btn btn-primary" href="book/{{ID}}">Leer más</a>
                        </div>
                    </div>
                    {{/postL}}
                </div>

                <div class="col-lg-6" id="right-post-column">
                    <!-- Blog post-->
                    {{#postR}}
                    <div class="card mb-4 blog-post">
                        <div class="img-container">
                            <!-- Image goes here -->
                            <a href="#!"><img class="card-img-top"
                                              src="data:image/png;base64,{{imageString}}"
                                              alt="..."/></a>
                        </div>
                        <div class="card-body">
                            <!-- Text and buttons go here -->
                            <div class="small text-muted">{{releaseDate}}</div>
                            <h2 class="card-title h4">{{title}}</h2>
                            <p class="card-text">{{authorString}}</p>
                            <p class="card-text">Género: {{genre}}</p>
                            <a class="btn btn-primary" href="book/{{ID}}">Leer más</a>
                        </div>
                    </div>
                    {{/postR}}
                </div>
            </div>

            <!-- LOAD MORE BBUTTON -->
            <nav aria-label="Pagination">
                <hr class="my-0"/>
                <ul class="pagination justify-content-center my-4 load-more-container">
                    <li class="btn btn-secondary" id="load-more-btn">
                        <label id="load-more-label">Cargar más</label>
                        <spinner id="load-more-spinner" class="loader-in-btn" role="status">
                        </spinner>
                    </li>
                </ul>
            </nav>
        </div>


        <!-- Side widgets-->
        <div class="col-lg-4">
            <h3 class="fw-semibold mb-4">Explora más</h3>
            <!-- Users widget-->
            <div class="card mb-4">
                {{^user}}
                <div class="card-header">Acceso usuarios</div>
                <div class="card-body">
                    <p>Encuentra nuevos libros, guarda los tuyos, ¡únete a Bookmarks!</p>
                    <div class="input-group">
                        <a href="/login">
                            <button class="btn btn-primary" class="button-search" type="button">Iniciar sesión</button>
                        </a>
                        <a href="/signup">
                            <button class="btn btn-primary" class="button-search" type="button">Crear cuenta</button>
                        </a>
                    </div>
                </div>
                {{/user}}
                {{#user}}
                <div class="card-header">Acceso rápido a tu perfil</div>
                <div class="card-body profile-card">
                    <img class="profile-picture bm-rounded-circle" src="data:image/png;base64, {{profileImageString}}" alt="Foto de perfil"/>
                    <p class="mt-2">{{username}}</p>
                    <div class="input-group">
                        <a href="/profile/{{username}}">
                            <button class="btn btn-primary" class="button-search" type="button">Ver perfil</button>
                        </a>

                    </div>
                </div>
                {{/user}}
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Géneros</div>
                <div class="card-body">
                    <div id="most-read-genres-chart" class="chart-container">
                        <canvas id="most-read-genres"></canvas>
                    </div>

                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Booktubers más populares</div>
                <div class="card-body">
                    <p>Los booktubers preferidos de la gente</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <ol class="list-styled mb-0">
                                <li>
                                    <a href="#!">Nombre 1</a>
                                    <a href="https://www.instagram.com/tu_perfil" target="_blank"
                                       rel="noopener noreferrer">
                                        <i class="bi bi-instagram">usuario</i>

                                    </a>
                                </li>
                                <li>
                                    <a href="#!">Nombre 2</a>
                                    <a href="https://www.instagram.com/tu_perfil" target="_blank"
                                       rel="noopener noreferrer">
                                        <i class="bi bi-instagram">usuario</i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#!">Nombre 3</a>
                                    <a href="https://www.instagram.com/tu_perfil" target="_blank"
                                       rel="noopener noreferrer">
                                        <i class="bi bi-instagram">usuario</i>
                                    </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

<!-- Footer STARTS HERE (the footer goes right before the end of the BODY, before the scripts are declared, if there are any)-->
<footer class="bm-py-5 bm-bg-footer">
    <div class="bm-container bm-footer-container">
        <!-- Bookmarks logo at the start of the footer, Copyright text at the end of the footer-->
        <a class="bm-d-flex bm-align-items-start" href="/">
            <img class="bm-footer-logo" src="assets/logoDark.svg" alt="Bookmarks"/>
        </a>

        <p class="bm-text-footer">Copyright &copy; Bookmarks 2024</p>
    </div>
</footer>
<!-- Footer ENDS HERE -->

<!-- SearchBar script -->
<script src="/js/searchBar.js"></script>

<script src="/js/landingPage.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>

<!-- CORE BOOTSTRAP JS (THIS GOES RIGHT AFTER THE FOOTER, IT HAS THE NAVBAR DROPDOWN TOGGLE FUNCTIONALITY)-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- ----------------------------------------------------------------- -->
</body>
</html>
