{{#reviewCard}}
<div class="col mb-5 review-post">
    <p style="display: none;">{{ID}}</p>
    <div class="card h-100">
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-left">
                <!-- Product name-->
                <h5 class="fw-bolder" id="inputReviewAuthor">{{author}}</h5>
                <h6>{{title}}</h6>
                <div class="rating">
                    <p class="fw-semibold rating-number">
                        {{rating}}
                    </p>
                    <i class="fa-star fa-regular"></i>
                    <i class="fa-star fa-regular"></i>
                    <i class="fa-star fa-regular"></i>
                    <i class="fa-star fa-regular"></i>
                    <i class="fa-star fa-regular"></i>
                </div>
                <!-- Product price-->
                <div id="inputReviewContent">{{content}}</div>
            </div>
        </div>
        <!-- button for deleting reviews -->
        {{#admin}}
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
                <form action="/book/{{bookID}}/deleteReview/{{ID}}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-outline-dark mt-3">Eliminar reseña</button>
                </form>
            </div>
        </div>
        {{/admin}}
    </div>
</div>
{{/reviewCard}}