/* You can add global styles to this file, and also import other style files */
:root {
  /* BOOKMARKS BRANDING COLORS */
  --branding-grey: #808F85;
  --branding-brown: #583E23;
  --branding-brown-greyed-out: rgba(88, 62, 35, 0.54);
  --branding-orange: #F9A03F;
  --branding-peach: #F8DDA4;
  --branding-green: #519E8A;
  --branding-white: #FFFFFC;
  --branding-light-grey: #efefef;
  --branding-sepia: #F8F4E8;
  /* -------- */
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #0d6efd;
  --bs-link-hover-color: #0a58ca;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}

body {
  margin: 0 !important;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--branding-sepia) !important;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-font-size: ;
  --bs-nav-link-color: var(--bs-link-color);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
  --bs-nav-link-disabled-color: #6c757d;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.bm-nav-link {
  display: block;
  font-family: 'Gabarito', sans-serif !important;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: 1.1rem;
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

}

@media (prefers-reduced-motion: reduce) {
  .bm-nav-link {
    transition: none;
  }
}

.bm-nav-link:hover,
.bm-nav-link:focus {
  color: var(--bs-nav-link-hover-color);
}

.bm-nav-link.disabled {
  color: var(--bs-nav-link-disabled-color);
  pointer-events: none;
  cursor: default;
}

.nav-tabs {
  --bs-nav-tabs-border-width: 1px;
  --bs-nav-tabs-border-color: #dee2e6;
  --bs-nav-tabs-border-radius: 0.375rem;
  --bs-nav-tabs-link-hover-border-color: #e9ecef #e9ecef #dee2e6;
  --bs-nav-tabs-link-active-color: #495057;
  --bs-nav-tabs-link-active-bg: #fff;
  --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #fff;
  border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
}

.nav-tabs .bm-nav-link {
  margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
  background: none;
  border: var(--bs-nav-tabs-border-width) solid transparent;
  border-top-left-radius: var(--bs-nav-tabs-border-radius);
  border-top-right-radius: var(--bs-nav-tabs-border-radius);
}

.nav-tabs .bm-nav-link:hover,
.nav-tabs .bm-nav-link:focus {
  isolation: isolate;
  border-color: var(--bs-nav-tabs-link-hover-border-color);
}

.nav-tabs .bm-nav-link.disabled,
.nav-tabs .bm-nav-link:disabled {
  color: var(--bs-nav-link-disabled-color);
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .bm-nav-link.active,
.nav-tabs .bm-nav-item.show .bm-nav-link {
  color: var(--bs-nav-tabs-link-active-color);
  background-color: var(--bs-nav-tabs-link-active-bg);
  border-color: var(--bs-nav-tabs-link-active-border-color);
}

.nav-tabs .dropdown-menu {
  margin-top: calc(-1 * var(--bs-nav-tabs-border-width));
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-pills {
  --bs-nav-pills-border-radius: 0.375rem;
  --bs-nav-pills-link-active-color: #fff;
  --bs-nav-pills-link-active-bg: #0d6efd;
}

.nav-pills .bm-nav-link {
  background: none;
  border: 0;
  border-radius: var(--bs-nav-pills-border-radius);
}

.nav-pills .bm-nav-link:disabled {
  color: var(--bs-nav-link-disabled-color);
  background-color: transparent;
  border-color: transparent;
}

.nav-pills .bm-nav-link.active,
.nav-pills .show > .bm-nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: var(--bs-nav-pills-link-active-bg);
}

.nav-fill > .bm-nav-link,
.nav-fill .bm-nav-item {
  flex: 1 1 auto;
  text-align: center;
}

.nav-justified > .bm-nav-link,
.nav-justified .bm-nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.nav-fill .bm-nav-item .bm-nav-link,
.nav-justified .bm-nav-item .bm-nav-link {
  width: 100%;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.bm-navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: rgba(0, 0, 0, 0.55);
  --bs-navbar-hover-color: rgba(0, 0, 0, 0.7);
  --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
  --bs-navbar-active-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.1);
  --bs-navbar-toggler-border-radius: 0.375rem;
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}

.bm-navbar > .bm-container,
.bm-navbar > .bm-container-fluid,
.bm-navbar > .bm-container-sm,
.bm-navbar > .bm-container-md,
.bm-navbar > .bm-container-lg,
.bm-navbar > .bm-container-xl,
.bm-navbar > .bm-container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.bm-navbar-brand {
  width: 10rem;
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  color: var(--bs-navbar-brand-color);
  text-decoration: none;
  white-space: nowrap;
}

.bm-navbar-profile-picture {
  width: 2.5rem;
  height: 2.5rem;
}

.bm-navbar-brand:hover,
.bm-navbar-brand:focus {
  color: var(--bs-navbar-brand-hover-color);
}

.bm-navbar-nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-navbar-color);
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.bm-navbar-nav .show > .bm-nav-link,
.bm-navbar-nav .bm-nav-link.active {
  color: var(--bs-navbar-active-color);
}

.bm-navbar-nav .dropdown-menu {
  position: static;
}

.bm-navbar-text {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--bs-navbar-color);
}

.bm-navbar-text a,
.bm-navbar-text a:hover,
.bm-navbar-text a:focus {
  color: var(--bs-navbar-active-color);
}

.bm-navbar-collapse {
  /* its items must be centered horizontally */
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.bm-navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--bs-navbar-color);
  background-color: transparent;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}

@media (prefers-reduced-motion: reduce) {
  .bm-navbar-toggler {
    transition: none;
  }
}

.bm-navbar-toggler:hover {
  text-decoration: none;
}

.bm-navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width);
}

.bm-navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.bm-navbar-nav-scroll {
  max-height: var(--bs-scroll-height, 75vh);
  overflow-y: auto;
}

@media (min-width: 576px) {
  .bm-navbar-expand-sm {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .bm-navbar-expand-sm .bm-navbar-nav {
    flex-direction: row;
  }

  .bm-navbar-expand-sm .bm-navbar-nav .dropdown-menu {
    position: absolute;
  }

  .bm-navbar-expand-sm .bm-navbar-nav .bm-nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
  }

  .bm-navbar-expand-sm .bm-navbar-nav-scroll {
    overflow: visible;
  }

  .bm-navbar-expand-sm .bm-navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .bm-navbar-expand-sm .bm-navbar-toggler {
    display: none;
  }

  .bm-navbar-expand-sm .offcanvas {
    position: static;
    z-index: auto;
    flex-grow: 1;
    width: auto !important;
    height: auto !important;
    visibility: visible !important;
    background-color: transparent !important;
    border: 0 !important;
    transform: none !important;
    transition: none;
  }

  .bm-navbar-expand-sm .offcanvas .offcanvas-header {
    display: none;
  }

  .bm-navbar-expand-sm .offcanvas .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
  }
}

@media (min-width: 768px) {
  .bm-navbar-expand-md {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .bm-navbar-expand-md .bm-navbar-nav {
    flex-direction: row;
  }

  .bm-navbar-expand-md .bm-navbar-nav .dropdown-menu {
    position: absolute;
  }

  .bm-navbar-expand-md .bm-navbar-nav .bm-nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
  }

  .bm-navbar-expand-md .bm-navbar-nav-scroll {
    overflow: visible;
  }

  .bm-navbar-expand-md .bm-navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .bm-navbar-expand-md .bm-navbar-toggler {
    display: none;
  }

  .bm-navbar-expand-md .offcanvas {
    position: static;
    z-index: auto;
    flex-grow: 1;
    width: auto !important;
    height: auto !important;
    visibility: visible !important;
    background-color: transparent !important;
    border: 0 !important;
    transform: none !important;
    transition: none;
  }

  .bm-navbar-expand-md .offcanvas .offcanvas-header {
    display: none;
  }

  .bm-navbar-expand-md .offcanvas .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
  }
}

@media (min-width: 992px) {
  .bm-navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .bm-navbar-expand-lg .bm-navbar-nav {
    flex-direction: row;
  }

  .bm-navbar-expand-lg .bm-navbar-nav .dropdown-menu {
    position: absolute;
  }

  .bm-navbar-expand-lg .bm-navbar-nav .bm-nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
  }

  .bm-navbar-expand-lg .bm-navbar-nav-scroll {
    overflow: visible;
  }

  .bm-navbar-expand-lg .bm-navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .bm-navbar-expand-lg .bm-navbar-toggler {
    display: none;
  }

  .bm-navbar-expand-lg .offcanvas {
    position: static;
    z-index: auto;
    flex-grow: 1;
    width: auto !important;
    height: auto !important;
    visibility: visible !important;
    background-color: transparent !important;
    border: 0 !important;
    transform: none !important;
    transition: none;
  }

  .bm-navbar-expand-lg .offcanvas .offcanvas-header {
    display: none;
  }

  .bm-navbar-expand-lg .offcanvas .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
  }
}

@media (min-width: 1200px) {
  .bm-navbar-expand-xl {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .bm-navbar-expand-xl .bm-navbar-nav {
    flex-direction: row;
  }

  .bm-navbar-expand-xl .bm-navbar-nav .dropdown-menu {
    position: absolute;
  }

  .bm-navbar-expand-xl .bm-navbar-nav .bm-nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
  }

  .bm-navbar-expand-xl .bm-navbar-nav-scroll {
    overflow: visible;
  }

  .bm-navbar-expand-xl .bm-navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .bm-navbar-expand-xl .bm-navbar-toggler {
    display: none;
  }

  .bm-navbar-expand-xl .offcanvas {
    position: static;
    z-index: auto;
    flex-grow: 1;
    width: auto !important;
    height: auto !important;
    visibility: visible !important;
    background-color: transparent !important;
    border: 0 !important;
    transform: none !important;
    transition: none;
  }

  .bm-navbar-expand-xl .offcanvas .offcanvas-header {
    display: none;
  }

  .bm-navbar-expand-xl .offcanvas .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
  }
}

@media (min-width: 1400px) {
  .bm-navbar-expand-xxl {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .bm-navbar-expand-xxl .bm-navbar-nav {
    flex-direction: row;
  }

  .bm-navbar-expand-xxl .bm-navbar-nav .dropdown-menu {
    position: absolute;
  }

  .bm-navbar-expand-xxl .bm-navbar-nav .bm-nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
  }

  .bm-navbar-expand-xxl .bm-navbar-nav-scroll {
    overflow: visible;
  }

  .bm-navbar-expand-xxl .bm-navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .bm-navbar-expand-xxl .bm-navbar-toggler {
    display: none;
  }

  .bm-navbar-expand-xxl .offcanvas {
    position: static;
    z-index: auto;
    flex-grow: 1;
    width: auto !important;
    height: auto !important;
    visibility: visible !important;
    background-color: transparent !important;
    border: 0 !important;
    transform: none !important;
    transition: none;
  }

  .bm-navbar-expand-xxl .offcanvas .offcanvas-header {
    display: none;
  }

  .bm-navbar-expand-xxl .offcanvas .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
  }
}

.bm-navbar-expand {
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.bm-navbar-expand .bm-navbar-nav {
  flex-direction: row;
}

.bm-navbar-expand .bm-navbar-nav .dropdown-menu {
  position: absolute;
}

.bm-navbar-expand .bm-navbar-nav .bm-nav-link {
  padding-right: var(--bs-navbar-nav-link-padding-x);
  padding-left: var(--bs-navbar-nav-link-padding-x);
}

.bm-navbar-expand .bm-navbar-nav-scroll {
  overflow: visible;
}

.bm-navbar-expand .bm-navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}

.bm-navbar-expand .bm-navbar-toggler {
  display: none;
}

.bm-navbar-expand .offcanvas {
  position: static;
  z-index: auto;
  flex-grow: 1;
  width: auto !important;
  height: auto !important;
  visibility: visible !important;
  background-color: transparent !important;
  border: 0 !important;
  transform: none !important;
  transition: none;
}

.bm-navbar-expand .offcanvas .offcanvas-header {
  display: none;
}

.bm-navbar-expand .offcanvas .offcanvas-body {
  display: flex;
  flex-grow: 0;
  padding: 0;
  overflow-y: visible;
}

.bm-navbar-dark {
  --bs-navbar-color: rgba(255, 255, 255, 0.55);
  --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
  --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
  --bs-navbar-active-color: #fff;
  --bs-navbar-brand-color: #fff;
  --bs-navbar-brand-hover-color: #fff;
  --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.bm-container,
.bm-container-fluid,
.bm-container-xxl,
.bm-container-xl,
.bm-container-lg,
.bm-container-md,
.bm-container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {

  .bm-container-sm,
  .bm-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {

  .bm-container-md,
  .bm-container-sm,
  .bm-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {

  .bm-container-lg,
  .bm-container-md,
  .bm-container-sm,
  .bm-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {

  .bm-container-xl,
  .bm-container-lg,
  .bm-container-md,
  .bm-container-sm,
  .bm-container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {

  .bm-container-xxl,
  .bm-container-xl,
  .bm-container-lg,
  .bm-container-md,
  .bm-container-sm,
  .bm-container {
    max-width: 1320px;
  }
}

.bm-navbar-px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.bm-navbar-px-lg-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.bm-bg-white {
  --bs-bg-opacity: 1;
  background-color: var(--branding-peach) !important;
}

.bm-collapse:not(.show) {
  display: none;
}

@media (min-width: 992px) {

  .bm-mb-lg-0 {
    margin-bottom: 0 !important;
  }

  .bm-ms-lg-4 {
    margin-left: 1.5rem !important;
  }
}

.bm-mb-2 {
  margin-bottom: 0.5rem !important;
}

.bm-me-auto {
  margin-right: auto !important;
}

.bm-ms-auto {
  margin-left: auto !important;
}

.bm-d-flex {
  display: flex !important;
}

.dropup,
.dropend,
.dropdown,
.dropstart,
.dropup-center,
.dropdown-center {
  position: relative;
}

.dropdown-toggle {
  white-space: nowrap;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropdown-menu {
  --bs-dropdown-zindex: 1000;
  --bs-dropdown-min-width: 10rem;
  --bs-dropdown-padding-x: 0;
  --bs-dropdown-padding-y: 0.5rem;
  --bs-dropdown-spacer: 0.125rem;
  --bs-dropdown-font-size: 1rem;
  --bs-dropdown-color: #212529;
  --bs-dropdown-bg: #fff;
  --bs-dropdown-border-color: var(--bs-border-color-translucent);
  --bs-dropdown-border-radius: 0.375rem;
  --bs-dropdown-border-width: 1px;
  --bs-dropdown-inner-border-radius: calc(0.375rem - 1px);
  --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
  --bs-dropdown-divider-margin-y: 0.5rem;
  --bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-dropdown-link-color: #212529;
  --bs-dropdown-link-hover-color: #1e2125;
  --bs-dropdown-link-hover-bg: #e9ecef;
  --bs-dropdown-link-active-color: #fff;
  --bs-dropdown-link-active-bg: #0d6efd;
  --bs-dropdown-link-disabled-color: #adb5bd;
  --bs-dropdown-item-padding-x: 1rem;
  --bs-dropdown-item-padding-y: 0.25rem;
  --bs-dropdown-header-color: #6c757d;
  --bs-dropdown-header-padding-x: 1rem;
  --bs-dropdown-header-padding-y: 0.5rem;
  position: absolute;
  z-index: var(--bs-dropdown-zindex);
  display: none;
  min-width: var(--bs-dropdown-min-width);
  padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
  margin: 0;
  font-size: var(--bs-dropdown-font-size);
  color: var(--bs-dropdown-color);
  text-align: left;
  list-style: none;
  background-color: var(--bs-dropdown-bg);
  background-clip: padding-box;
  border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
  border-radius: var(--bs-dropdown-border-radius);
}

.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: 0;
  margin-top: var(--bs-dropdown-spacer);
}

.dropdown-menu-start {
  --bs-position: start;
}

.dropdown-menu-start[data-bs-popper] {
  right: auto;
  left: 0;
}

.dropdown-menu-end {
  --bs-position: end;
}

.dropdown-menu-end[data-bs-popper] {
  right: 0;
  left: auto;
}

@media (min-width: 576px) {
  .dropdown-menu-sm-start {
    --bs-position: start;
  }

  .dropdown-menu-sm-start[data-bs-popper] {
    right: auto;
    left: 0;
  }

  .dropdown-menu-sm-end {
    --bs-position: end;
  }

  .dropdown-menu-sm-end[data-bs-popper] {
    right: 0;
    left: auto;
  }
}

@media (min-width: 768px) {
  .dropdown-menu-md-start {
    --bs-position: start;
  }

  .dropdown-menu-md-start[data-bs-popper] {
    right: auto;
    left: 0;
  }

  .dropdown-menu-md-end {
    --bs-position: end;
  }

  .dropdown-menu-md-end[data-bs-popper] {
    right: 0;
    left: auto;
  }
}

@media (min-width: 992px) {
  .dropdown-menu-lg-start {
    --bs-position: start;
  }

  .dropdown-menu-lg-start[data-bs-popper] {
    right: auto;
    left: 0;
  }

  .dropdown-menu-lg-end {
    --bs-position: end;
  }

  .dropdown-menu-lg-end[data-bs-popper] {
    right: 0;
    left: auto;
  }
}

@media (min-width: 1200px) {
  .dropdown-menu-xl-start {
    --bs-position: start;
  }

  .dropdown-menu-xl-start[data-bs-popper] {
    right: auto;
    left: 0;
  }

  .dropdown-menu-xl-end {
    --bs-position: end;
  }

  .dropdown-menu-xl-end[data-bs-popper] {
    right: 0;
    left: auto;
  }
}

@media (min-width: 1400px) {
  .dropdown-menu-xxl-start {
    --bs-position: start;
  }

  .dropdown-menu-xxl-start[data-bs-popper] {
    right: auto;
    left: 0;
  }

  .dropdown-menu-xxl-end {
    --bs-position: end;
  }

  .dropdown-menu-xxl-end[data-bs-popper] {
    right: 0;
    left: auto;
  }
}

.dropup .dropdown-menu[data-bs-popper] {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: var(--bs-dropdown-spacer);
}

.dropup .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent;
}

.dropup .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropend .dropdown-menu[data-bs-popper] {
  top: 0;
  right: auto;
  left: 100%;
  margin-top: 0;
  margin-left: var(--bs-dropdown-spacer);
}

.dropend .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
}

.dropend .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropend .dropdown-toggle::after {
  vertical-align: 0;
}

.dropstart .dropdown-menu[data-bs-popper] {
  top: 0;
  right: 100%;
  left: auto;
  margin-top: 0;
  margin-right: var(--bs-dropdown-spacer);
}

.dropstart .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
}

.dropstart .dropdown-toggle::after {
  display: none;
}

.dropstart .dropdown-toggle::before {
  display: inline-block;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0.3em solid;
  border-bottom: 0.3em solid transparent;
}

.dropstart .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropstart .dropdown-toggle::before {
  vertical-align: 0;
}

.dropdown-divider {
  height: 0;
  margin: var(--bs-dropdown-divider-margin-y) 0;
  overflow: hidden;
  border-top: 1px solid var(--bs-dropdown-divider-bg);
  opacity: 1;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  clear: both;
  font-weight: 400;
  color: var(--bs-dropdown-link-color);
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: var(--bs-dropdown-link-hover-color);
  background-color: var(--bs-dropdown-link-hover-bg);
}

.dropdown-item.active,
.dropdown-item:active {
  color: var(--bs-dropdown-link-active-color);
  text-decoration: none;
  background-color: var(--bs-dropdown-link-active-bg);
}

.dropdown-item.disabled,
.dropdown-item:disabled {
  color: var(--bs-dropdown-link-disabled-color);
  pointer-events: none;
  background-color: transparent;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-header {
  display: block;
  padding: var(--bs-dropdown-header-padding-y) var(--bs-dropdown-header-padding-x);
  margin-bottom: 0;
  font-size: 0.875rem;
  color: var(--bs-dropdown-header-color);
  white-space: nowrap;
}

.dropdown-item-text {
  display: block;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  color: var(--bs-dropdown-link-color);
}

.dropdown-menu-dark {
  --bs-dropdown-color: #dee2e6;
  --bs-dropdown-bg: #343a40;
  --bs-dropdown-border-color: var(--bs-border-color-translucent);
  --bs-dropdown-box-shadow: ;
  --bs-dropdown-link-color: #dee2e6;
  --bs-dropdown-link-hover-color: #fff;
  --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
  --bs-dropdown-link-hover-bg: rgba(255, 255, 255, 0.15);
  --bs-dropdown-link-active-color: #fff;
  --bs-dropdown-link-active-bg: #0d6efd;
  --bs-dropdown-link-disabled-color: #adb5bd;
  --bs-dropdown-header-color: #adb5bd;
}

.bm-rounded-circle {
  border-radius: 50% !important;
}

.bm-py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.bm-bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.bm-bg-footer {
  background-color: var(--branding-peach) !important;
}

.bm-m-0 {
  margin: 0 !important;
}

.bm-text-footer {
  text-align: end !important;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
  margin-top: 1rem !important;
}

.bm-align-items-start {
  align-items: flex-start !important;
  width: 10rem;
  /* Vertical centering */
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.bm-footer-container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.search-bar { /*bg color should be brownish black but with an alpha value*/
  margin-left: 3rem !important;
  outline: 2px solid var(--branding-brown) !important;
  width: 100% !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  border-radius: 12px !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: var(--branding-brown) !important;
  transition: none !important;
  height: 2.5rem !important;
}

.search-bar::placeholder {
  color: var(--branding-brown) !important;
  font-size: 1rem !important;
}

.search-bar:focus { /*border must not change when on focus compared to when not on focus and searchbar must not change size */
  background-color: rgba(0, 0, 0, 0.2) !important;
  box-shadow: none !important;
  border: 2px solid var(--branding-brown) !important;
  border-color: var(--branding-brown) !important;
  color: var(--branding-brown) !important;

}

#magnifier-icon-link {
  color: var(--branding-brown) !important;
}

.bm-navbar { /* must be always on top and has to drop a shadow when scrolling */
  position: sticky !important;
  top: 0 !important;
  z-index: 1000 !important;

}

.bm-navbar-scrolled {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
  transition: all 0.3s ease-in-out !important;
}

#search-select-label {

  cursor: pointer;

  display: block;

  border: 1px solid var(--branding-brown);

  border-radius: 11px;

  background-color: var(--branding-peach);;

  width: 40px;

  height: 20px;

  position: relative;

  transition: all 0.2s;

}


#search-select-label:after {

  content: "";

  border: 1px solid var(--branding-brown);

  background-color: var(--branding-brown);

  border-radius: 10px;

  width: 18px;

  height: 18px;

  position: absolute;

  top: 0;

  left: 0;

  transition: all 0.2s;

}


#search-select:checked + #search-select-label {

  border-color: var(--branding-brown);

}


#search-select:checked + #search-select-label:after {

  left: 20px;

  border-color: var(--branding-brown);

}


.select-color {

  padding: 15px;

  border-radius: 50%;

  color: var(--bs-nav-link-color);

}


#book-icon {

  order: 1;

}


#search-select-label {

  order: 2;

}


#user-icon {

  order: 3;

}


#search-select:not(:checked) ~ #book-icon {

  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  color: var(--branding-brown);


}

#search-select:checked ~ #book-icon {

  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;

  color: var(--branding-brown-greyed-out);


}


#search-select:checked ~ #user-icon {

  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;

  color: var(--branding-brown);

}

#search-select:not(:checked) ~ #user-icon {

  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;

  color: var(--branding-brown-greyed-out);

}
