{{#user}}
<!-- User card-->
<div class="col mb-5 user">
    <div class="card h-100">
        <!-- User image-->
        <img class="card-img-top" src="data:image/png;base64,{{profileImageString}}" alt="..."/>
        <!-- User details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Username-->
                <h5 class="fw-bolder">{{username}}</h5>
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/profile/{{username}}">Ver perfil</a></div>
        </div>
    </div>
</div> <!-- End of book card-->
{{/user}}